@use '../abstracts' as *;
@use '../base' as *;
@use '../components' as *;

// typografy

// body
body {
    font-family: $font-body;
    font-weight: $font-regular;
    font-size: 1rem;
    line-height: auto;
    color: $color-txt-dark;
    text-align: left;
}

h1 {
    font-family: $font-heading;
    font-weight: $font-thin;
    letter-spacing: 0px;
    font-size: 3.75rem;
    line-height: auto;
    color: $color-heading-dark;
    font-style: normal;
    text-align: left;
    @media only screen and (max-width: 992px) { }
    @media only screen and (max-width: 768px) {
        font-size: 2rem;
        line-height: 3rem;
    }
    }
    
h2 {
    font-family: $font-heading;
    font-weight: $font-thin;
    letter-spacing: 0px;
    font-size: 2.5rem;
    line-height: auto;
    color: $color-heading-dark;
    @media only screen and (max-width: 768px) {
        font-size: .8rem;
    }
}

// paragraphs
p{
    font-weight: $font-regular;
    font-size: 1rem;
    font-style: normal;
    color: $color-txt-dark;
}

strong {
    font-weight: $font-bold;
}

// anchor tags 
a{
    font-family: $font-body;
    font-weight: $font-bold;
    line-height: 35px;
    color: $color-cta;
    font-size: inherit;
    letter-spacing: .5px;
}

// list items
ul {
    display: block;
}

li {
    font-weight: $font-regular;
    font-size: inherit;
    line-height: auto;
    font-style: normal;
    list-style-position: inside;
    list-style-type: disc;
    color: $color-txt-dark;
}



