@use '../abstracts' as *;
@use '../base' as *;

// forms
body img.gform_ajax_spinner {
	display: none !important;
}

.gform_fields {
	input,
	textarea, {
		letter-spacing: 1px !important;
		font-size: 1rem !important;
		padding-left: 1rem !important;
		font-weight: $font-regular !important;
		margin: 0 !important;
        box-shadow: $form-shadow;
	}
	select {
		padding-left: 1rem !important;
		margin: 0 !important;
        box-shadow: $form-shadow;
	}
	select {
		-webkit-appearance: listbox !important;
		}
	option {
		font-weight: $font-regular !important;
		letter-spacing: 1px !important;
		font-size: 1rem !important;
	}
	.gf_placeholder {
		font-weight: $font-regular !important;
		letter-spacing: 1px !important;
		font-size: 1rem !important;
	}
	input::placeholder {
		font-weight: $font-thin !important;
		letter-spacing: 1px !important;
		font-size: 1rem !important;
	}
}


body .gform_wrapper .gform_footer input[type="submit"] {
    background: $color-cta !important;
    color: $color-heading-light !important;
    border: none !important;
    border-radius: 999px !important;
    padding: 0.5rem 3.4rem !important;
    font-weight: $font-medium !important;
    display: inline-flex !important;
    align-items: center !important;
    gap: 0.5rem !important;
    white-space: nowrap !important;

    text-align: center !important;
    min-width: 300px !important;
    max-width: 400px !important;
    // border-radius: 999px !important;
    font-size: 1rem !important;
    margin: 1rem 0 !important;
    // padding: 0.5rem 2rem !important;
    // font-weight: $font-regular !important;
    // display: grid !important;
    // place-items: center !important;
    font-style: normal !important;
    letter-spacing: 1px !important;
    text-shadow: none !important;
    transition: background-color 0.3s ease !important;
    // border: 2px solid transparent !important;
    // color: #fff !important;
    // border-color: $color-cta !important;
    // background-color: $color-cta !important;

    &:hover,
    &:focus {
        background: $color-cta-hover;
        color: $color-heading-light;
    }


    // &:hover {
    //     background-color: $color-cta-hover !important;
    //     border-color: $color-cta-hover !important;
    // }
    @media only screen and (max-width: 600px) {
        font-size: 0.9rem;
        padding: 0.5rem 0.5rem;
        width: 100%;
    }
}

#gform_submit_button_1 {
    padding: 1em 3.4rem !important;
}

.gform_wrapper label.gfield_label,
legend, {
	letter-spacing: 1px;
	font-weight: $font-thin !important;
	font-size: 1rem !important;
}

.gform_wrapper.gravity-theme .gform_footer {
	justify-content: space-around !important;
}

.gform_wrapper .gfield_checkbox input[type='checkbox'] {
    appearance: none; /* Remove default appearance */
    -webkit-appearance: none; /* For Safari */
    background: url('unchecked_checkbox_image_url') no-repeat center center;
    width: 15px; /* Custom width */
    height: 15px; /* Custom height */
    background-color: #fff;
}

.gform_wrapper .gfield_checkbox input[type='checkbox'] {
    appearance: none !important; /* Hide default checkbox */
    -webkit-appearance: none !important; /* Hide default checkbox for Safari */
    background-color: #fff !important; /* Background color of the box */
    border: 2px solid #ddd !important; /* Border color of the box */
    padding: 8px 6px 8px 6px !important; /* Size of the box */
    display: inline-block !important;
    position: relative !important;
}

.gform_wrapper .gfield_checkbox input[type='checkbox']:checked::before {
    content: '✓' !important; /* Unicode checkmark symbol */
    position: absolute !important;
    top: -12px !important; /* Adjust these values based on your specific alignment needs */
    left: -1px !important; /* Adjust these values based on your specific alignment needs */
    color: $color-cta !important; /* Color of the checkmark */
    font-size: 30px !important; /* Size of the checkmark */
}
