@use '../abstracts' as *;
@use '../base' as *;
@use '../components' as *;

body{
    background-color: rgb(40, 40, 101);
    padding: 1rem;
}

.page-wrapper{
    background-color: #ffffff;
}


// container 
.container {
    max-width: $container-base;
    padding: 0 $padding-base*1.5;
    margin: 0 auto;
    overflow: hidden;
    @media only screen and (max-width: 992px) { 
        padding: 0 $padding-base;
    }
}

// elements and max-width w-10,w-20,w-30 etc...
@for $i from 1 through 10 {
    .w-#{$i * 10} {
        max-width: $i * 10 * 1%;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
}

