@use '../abstracts' as *;
@use '../base' as *;
@use '../components' as *;

body{
    background-color: rgb(40, 40, 101);
    padding: 1rem;
}

.page-wrapper{
    background-color: #ffffff;
    border-bottom-left-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
    overflow: hidden;
}

// site-label
.site-label {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: $z-nav;
    margin-left: 2.5rem;
    padding: 0.75rem 2.5rem;
    background-color: $color-badge-orange;
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
}


// container 
.container {
    max-width: $container-base;
    padding: 0 $padding-base*1.5;
    margin: 0 auto;
    overflow: hidden;
    @media only screen and (max-width: 992px) { 
        padding: 0 $padding-base;
    }
}

// elements and max-width w-10,w-20,w-30 etc...
@for $i from 1 through 10 {
    .w-#{$i * 10} {
        max-width: $i * 10 * 1%;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
}

