@use '../abstracts' as *;
@use '../base' as *;
@use '../components' as *;

// typografy

// body
body {
    font-family: $font-body;
    font-weight: $font-regular;
    font-size: 1rem;
    line-height: calc(1em + 10px);
    color: $color-txt-dark;
    text-align: left;
    
    @media only screen and (min-width: 1401px) {
        padding: 2rem;
        
        @media only screen and (min-width: 1800px) {
            padding: 3rem;
        }
    }
    
    @media only screen and (max-width: 1100px) {
        font-size: 0.95rem;
    }
    
    @media only screen and (max-width: 900px) {
        font-size: 0.9rem;
    }
    
    @media only screen and (max-width: 800px) {
        font-size: 0.875rem;
    }
    
    @media only screen and (max-width: 600px) {
        font-size: 0.95rem;
        padding: 0.75rem;
    }
}

h1, h2 {
    font-family: $font-heading;
    font-weight: $font-thin;
    letter-spacing: 0px;
    font-size: 3.25rem; // Nog iets kleiner (was 3.5rem)
    line-height: auto;
    color: $color-heading-dark;
    font-style: normal;
    text-align: left;
    
    @media only screen and (max-width: 1100px) {
        font-size: 2.75rem; // Nog iets kleiner (was 3rem)
        text-align: center; // Gecentreerd bij media query
    }
    
    @media only screen and (max-width: 900px) {
        font-size: 2.25rem; // Nog iets kleiner (was 2.5rem)
        text-align: center; // Gecentreerd bij media query
    }
    
    @media only screen and (max-width: 800px) {
        font-size: 1.875rem; // Nog iets kleiner (was 2rem)
        text-align: center; // Gecentreerd bij media query
    }
    
    @media only screen and (max-width: 600px) {
        font-size: 1.75rem; // Nog iets kleiner (was 1.875rem)
        line-height: 1.3;
        text-align: center; // Gecentreerd bij media query
    }
}

h3 {
    font-family: $font-heading;
    font-weight: $font-thin;
    letter-spacing: 0px;
    font-size: 1.5rem;
    line-height: 1.2;
    color: $color-heading-dark;
    
    @media only screen and (max-width: 1100px) {
        font-size: 1.375rem;
    }
    
    @media only screen and (max-width: 900px) {
        font-size: 1.25rem;
    }
    
    @media only screen and (max-width: 800px) {
        font-size: 1.125rem;
    }
    
    @media only screen and (max-width: 600px) {
        font-size: 1.1rem !important; // 17px
    }
}

// paragraphs
p{
    font-weight: $font-regular;
    font-size: 1rem;
    line-height: calc(1em + 10px);
    font-style: normal;
    color: $color-txt-dark;
    
    @media only screen and (max-width: 1100px) {
        font-size: 0.95rem;
    }
    
    @media only screen and (max-width: 900px) {
        font-size: 0.9rem;
    }
    
    @media only screen and (max-width: 800px) {
        font-size: 0.875rem;
    }
    
    @media only screen and (max-width: 600px) {
        font-size: 0.95rem;
    }
}

strong {
    font-weight: $font-bold;
}

// anchor tags 
a{
    font-family: $font-body;
    font-weight: $font-bold;
    line-height: 35px;
    color: $color-cta;
    font-size: inherit;
    letter-spacing: .5px;
}

// list items
ul {
    display: block;
}

li {
    font-weight: $font-regular;
    font-size: inherit;
    line-height: calc(1em + 10px);
    font-style: normal;
    list-style-position: inside;
    list-style-type: disc;
    color: $color-txt-dark;
}



