@use "sass:math";
//layout
$container-base: 1600px;
$container-small: 75%;
$container-medium: 90%;

//spacing
$padding-base: 1rem;

// grid 
$grid-gap: 2rem;

// border radius
$border-radius-base: 1.5rem;
$border-radius-button: 999px;
$border-radius-card: 0.75rem;

//font-family
$font-heading:"Source Sans 3", sans-serif;
$font-body: "Source Sans 3", sans-serif;

$font-thin: 200;
$font-regular: 400;
$font-medium: 500;
$font-bold: 600;

// background color variables
$color-bg-dark: rgb(40, 40, 101, 1.0); // tone of black
$color-bg-light: rgba(245, 245, 245, 1.0); //tone of beige

// cta colors
$color-cta: rgb(109, 84, 163, 1.0); // cta
$color-cta-hover: rgb(68, 47, 145, 1.0); // cta hover

// badge colors
$color-badge-orange: #FF8C42; // orange badge

// text colors dark
$color-heading-dark: rgb(64, 64, 64), 1.0; // tone of black
$color-txt-dark: rgb(64, 64, 64), 1.0; // tone of black

// text colors light
$color-heading-light: #ffffff; // heading white 
$color-txt-light: #ffffff; // paragraph white

//shadow
$form-shadow: 0 4px 10px rgba(0, 0, 0, 0.05); 

// z-index 
$z-bg: -2000;
$z-cta: 1000;
$z-nav: 5000;
$z-modal: 10000; 

// cards
$card-lavender: rgba(230, 220, 250, 1);
$card-peach: rgba(255, 235, 205, 1);
$quote-orange: rgba(255, 140, 0, 1);
$card-top-purple: rgba(231, 168, 241, 0.2); // #E7A8F1 with 20% opacity
$card-middle-orange: rgba(246, 139, 31, 0.2); // #F68B1F with 20% opacity
$card-bottom-gray: #EAEBF3;
$gap-cols: 1.5rem;
$gap-cards: 0.75rem;
$card-padding-v: 3rem;
$card-padding-h: 2rem;
$filter-bg: #e6e0f0; 

//filter
$Filter-padding: $card-padding-v * 0.25 $padding-base * 1.5 $card-padding-v $padding-base * 1.5;

$steps-icon-bg: rgba(255, 235, 205, 1);
//einde block-steps

// block-image-grid-2
$card-blue-gray: rgba(244, 244, 246, 1);