@use '../abstracts' as *;
@use '../base' as *;

// button generic 
.btn {
    max-width: 20rem;
    border-radius: 8px;
    font-size: 1rem;
    margin: 1rem 0;
    padding: 0 1rem;
    font-weight: $font-medium;
    display: grid;
    place-items: center;
    font-style: normal;
    letter-spacing: 0px;
    text-shadow: none;
    transition: background-color 0.3s ease;
    border: 2px solid transparent;
    @media only screen and (max-width: 768px) {
        font-size: 0.9rem;
        max-width: 12rem;
    }
}

// button fill 
.btn-fill {
    width: 300px;
    color: #fff;
    border-color: $color-cta;
    background-color: $color-cta;
    @media only screen and (max-width: 768px) {
        width: 100%;
    }
    &:hover {
        background-color: $color-cta-hover;
        border-color: $color-cta-hover;
    }
}

// button empty 
.btn-empty {
    width: 20rem;
    color: $color-cta;
    border-color: $color-cta;
    background-color: transparent;
    @media only screen and (max-width: 768px) {
        width: 100%;
    }
    &:hover {
        background-color: $color-cta;
        border: 2px solid $color-cta;
        color: $color-txt-light !important;
        transition: .5s ease-in-out;
    }
}
